.heading {
  text-shadow: 3px 0px 20px #b8b8b87e, -3px 0px 20px #b8b8b87e,
    0px 4px 20px #b8b8b87e;
}

.background {
  background: url("/PandaGif.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
